ul {
  font-size: 1em;
}

.hidden {
  opacity: 0;
  display: none;
}

.voteButton {
  margin-right: 0.65em;
}

.nextPhaseButton {
  position: absolute;
}

#defForm input {
  border-bottom: 1px solid white;
}
