ul {
  font-size: 1em;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.hiddenDef {
  height: 100px;
}

.voteButton {
  margin-right: 0.65em;
}

.nextPhaseButton {
  position: absolute;
}

#defForm input {
  border-bottom: 1px solid white; }

.showShadow {
  overflow: visible !important;
}

.defLi {
  margin-bottom: 0.6em !important;
  border: 2px solid #e0e0e0;
  border-radius: 3px;
}

#defList {
  border: none;
}
